@{
    ViewData["Title"] = "Головна";
}

    <div class="row" style="padding-top:15px">
        <div class="col-sm-8">
            <h2 style="font-size: 28px;text-align: left"><strong>Оренда автомобіля в Полтаві</strong></h2>
            <h3 style="font-size: 20px;text-align: left"><b>за ціною від 20 $ за добу</b></h3>
            <div style="padding-bottom:35px">
                <p>Коли ваше авто на ремонті, а поїздки в громадському транспорті не вписуються в щільний графік, на допомогу приходить <strong>PoltavaCarShare</strong>. Ми здаємо <a style="color:#DCB927" asp-controller="Home" asp-action="Conditions">в оренду автомобілі</a> різного рівня комфорту: від економ-класу до преміальних моделей. Серед запропонованих варіантів ви знайдете і зручний транспорт для сімейної поїздки по Україні, і презентабельне авто для зустрічі з діловими партнерами.</p>
            </div>
            <h2 style="font-size: 28px;text-align: left"><strong>Більше 20 автомобілів в автопарку</strong></h2>
            <div>
                <p>В <strong>PoltavaCarShare</strong> можна <a style="color:#DCB927" asp-area="" asp-controller="Cars" asp-action="Index">взяти в оренду авто</a> під будь-який бюджет. Ви обираєте транспорт за такими характеристиками:</p>
                <ul>
                    <li aria-level="1">тип автомобіля: позашляховик, седан і інші;</li>
                    <li aria-level="1">тип трансмісії: механіка, автомат;</li>
                    <li aria-level="1">тип палива: дизель, бензин.</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="photo"style="margin-bottom:35px">
                <img width="350" height="231" src="https://www.procars-rent.com.ua/wp-content/uploads/2021/03/posutochnyj-prokat-avtomobilej-procars-rent-x350.jpg"srcset="https://www.procars-rent.com.ua/wp-content/uploads/2021/03/posutochnyj-prokat-avtomobilej-procars-rent-x350.jpg 350w, https://www.procars-rent.com.ua/wp-content/uploads/2021/03/posutochnyj-prokat-avtomobilej-procars-rent-x350-150x99.jpg 150w" sizes="(max-width: 350px) 100vw, 350px">
            </div>
            <div class="photo" style="margin-bottom:35px">
                <img width="350" height="231" src="https://www.procars-rent.com.ua/wp-content/uploads/2021/03/arenda-avtomobilya-v-kieve-i-drugih-gorodah-ukrainy-x350.jpg" class="vc_single_image-img attachment-medium" srcset="https://www.procars-rent.com.ua/wp-content/uploads/2021/03/arenda-avtomobilya-v-kieve-i-drugih-gorodah-ukrainy-x350.jpg 350w, https://www.procars-rent.com.ua/wp-content/uploads/2021/03/arenda-avtomobilya-v-kieve-i-drugih-gorodah-ukrainy-x350-150x99.jpg 150w" sizes="(max-width: 350px) 100vw, 350px">
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom:35px">
        <div class="col-sm-6">
            <div>
                <p>У нашому парку зібрано понад 20 автомобілів: від бюджетних моделей з невеликою витратою палива до спорткарів і преміальних позашляховиків. При замовленні ви не просто обираєте клас авто, ви орендуєте конкретну модель, орієнтуючись на її характеристики.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <p>Щоб ви відчували себе в безпеці за кермом, ми регулярно проводимо техогляд транспорту, а вік наших автомобілів не перевищує 7 років. Крім того, всі моделі застраховані по ОСАГО і КАСКО, тому вам не потрібно турбуватися про неприємності, які можуть трапитися на дорозі.</p>
            </div>
        </div>
    </div>
<div style="padding-bottom:35px">
    <h2 style="font-size: 28px;color: #dcb927;text-align: center; padding-bottom:20px"><strong>6 ПЕРЕВАГ ОРЕНДИ АВТО В PoltavaCarShare</strong></h2>
    <div class="row">
        <div class="col-lg-4 w-100">
            <p>
                <h5 style="color:#dcb927">
                    <b><i class="fas fa-car-alt" style="color:white"></i> Автопарк постійно поповнюється новими авто</b>
                </h5>
                В <b>PoltavaCarShare</b> ви точно знайдете транспорт під ваш бюджет.
            </p>
        </div>
        <div class="col-lg-4 w-100">
            <p>
                <h5 style="color:#dcb927">
                    <b><i class="fas fa-map-marked-alt" style="color:white"></i> Доставка авто по Полтаві</b>
                </h5>
                Наш офіс знаходиться в Полтаві, але взяти автомобіль в оренду ви можете в будь-якому місті Полтавської області. Доставимо і заберемо авто в зручному для вас місці.
            </p>
        </div>
        <div class="col-lg-4 w-100">
            <p>
                <h5 style="color:#dcb927">
                    <b><i class="fas fa-mouse" style="color:white"></i> Швидке оформлення оренди онлайн</b>
                </h5>
                Ви можете вибрати і забронювати авто на сайті, попередньо вивчивши характеристики і фото обраного транспорту.
            </p>
        </div>
        <div class="col-lg-4 w-100">
            <p>
                <h5 style="color:#dcb927">
                    <b><i class="far fa-snowflake" style="color:white"></i> Тип транспорту готовий до сезону</b>
                </h5>
                Всі наші авто обладнані по сезону: встановлена зимова / літня гума, в бачку залитий новий стеклоомиватель і підготовлено інше сезонне оснащення
            </p>
        </div>
        <div class="col-lg-4 w-100">
            <p>
                <h5 style="color:#dcb927">
                    <b><i class="far fa-calendar-check" style="color:white"></i> Працюємо 7 днів на тиждень</b>
                </h5>
                Щоб ви могли орендувати автомобіль у зручний для вас час.
            </p>
        </div>
        <div class="col-lg-4 w-100">
            <p>
                <h5 style="color:#dcb927">
                    <b><i class="fas fa-percent" style="color:white"></i> Прозоре ціноутворення</b>
                </h5>
                Вартість оренди для кожної моделі вказуємо на сайті. Ціна залежить від тривалості прокату і класу автомобіля.
            </p>
        </div>
    </div>
    <div>
        <h2 style="font-size: 28px;color: #dcb927;text-align: center; padding-bottom:20px"><strong>УМОВИ ОРЕНДИ АВТОМОБІЛЯ</strong> </h2>
        <div style="float: left;min-height: 1px;position: relative;box-sizing: border-box;">
            <div>
                <div class="vc_message_box">
                    <div class="vc_message_box-icon">
                        <i class="fas fa-info-circle fa-2x" style="padding-left: 10px;padding-right:10px;padding-bottom:10px;padding-top:10px;"></i>
                    </div>
                    <p>
                        Щоб взяти авто напрокат, вам повинно бути не менше 21 року. Стаж водіння - від 2 років. Які документи потрібні: паспорт, ідентифікаційний код і водійське посвідчення.
                    </p>
                </div>
                <div class="vc_message_box">
                    <div class="vc_message_box-icon">
                        <i class="fas fa-info-circle fa-2x" style="padding-left: 10px;padding-right:10px;padding-bottom:10px;padding-top:10px;"></i>
                    </div>
                    <p>
                        Перед тим, як ви сядете за кермо автомобіля, укладаємо договір. У документі прописуємо дату початку і закінчення прокату. Якщо ви затримаєте повернення авто більш ніж на 1 годину, доведеться сплатити ще один день оренди.
                    </p>
                </div>
                <div class="vc_message_box">
                    <div class="vc_message_box-icon">
                        <i class="fas fa-info-circle fa-2x" style="padding-left: 10px;padding-right:10px;padding-bottom:10px;padding-top:10px;"></i>
                    </div>
                    <p>
                        При оформленні договору оренди ви вносите депозит - обов'язкову заставу, який ми повернемо після того, як ви передасте авто.
                    </p>
                </div>
                <div class="vc_message_box">
                    <div class="vc_message_box-icon">
                        <i class="fas fa-info-circle fa-2x" style="padding-left: 10px;padding-right:10px;padding-bottom:10px;padding-top:10px;"></i>
                    </div>
                    <p>
                        Ліміт пробігу на добу - 350 км. Перепробіг вважаємо за встановленими тарифами, які вам повідомить менеджер. Оплатити оренду можна готівковим і безготівковим способом.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <img src="https://auto-otbor.ru/wp-content/uploads/elementor/thumbs/man-giving-thumbs-up-out-his-car-while-road-trip-scaled-p14r6ejwfedsylha210sdh3z6gbtu96b7tren4uba8.jpg" style="width:100%;height:100%" />
    </div>
    <div class="col-lg-6" style="background-color:#153460; color:white">
        <div>
            <h4 style="font-size: 18px;color: #dcb927;text-align: left">Скільки коштує оренда авто в Полтаві</h4>
            <div>
                <p>
                    Вартість прокату залежить від декількох факторів:
                </p>
                <ul>
                    <li aria-level="1"><b>Клас автомобіля</b>. Оренда моделі економ-класу обійдеться дешевше, ніж прокат преміального авто.</li>
                    <li aria-level="1"><b>Термін оренди</b>. Чим довше ви користуєтеся авто, тим менше коштує 1 день оренди.</li>
                </ul>
                <p>
                    Дізнатися точну ціну оренди авто можна в розділі «Дізнатися ціну» або уточнити під час розмови з менеджером.
                </p>
            </div>
            <h4 style="font-size: 18px;color: #dcb927;text-align: left">Як взяти автомобіль напрокат</h4>
            <div>
                <p>
                    Ви можете залишити заявку на оренду транспорту на сайті в будь-який зручний час. Або зв'язатися з нами за номером, вказаним в розділі «Про нас».
                </p>
                <p>
                    Бронюючи авто на сайті, вам потрібно вказати свої дані та за бажанням додаткову інформацію. Після оформлення бронювання з вами зв'яжеться менеджер.
                </p>
            </div>
            <div class="form-group text-center">
                <p><a class="btn btn-secondary" asp-controller="Home" asp-action="Conditions">Умови оренди</a></p>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/63a7e54af5.js" crossorigin="anonymous"></script>
